
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="flex-grow-1">
    <div class="container content-space-3 content-space-t-lg-4" style="margin-bottom: -100px;">
      <div class="row">
        <div class="col-md-5">
          <h2 style="margin-top: 70px;" class="fs-50 text-danger">Log on and<br /> enjoy personalized skits</h2>
          <p class="fs-16">Easy share laugther and skits across the world<br />  Easy share laugther and skits across the world
            between your friendLog on and enjoy personalized skitsLog on and enjoy personalized skitsLog on and enjoy personalized skitss</p>
        </div>
        <div class="col-md-4 offset-md-2">
          <div class="flex-grow-1 mx-auto">
            <!-- Form -->
            <forgot-form *ngIf="_global.url.split('/')[2] == 'forgot'"></forgot-form>
            <login-form *ngIf="_global.url.split('/')[2] == 'login'"></login-form>
            <register-form *ngIf="_global.url.split('/')[2] == 'register'"></register-form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->