<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="flex-grow-1">
  <div
    class="container content-space-3 content-space-t-lg-4"
    style="margin-bottom: -100px"
  >
    <div class="row">
      <div class="col-md-5">
        <h2 style="margin-top: 70px" class="fs-40 text-danger">
          Welcome to Faicorn<br />Get access to all our services and offers
        </h2>
        <p class="fs-18">
          Search, select and get whatever services / product your looking for in
          our catalog of products & services listed by various vendors across
          multiple categories and sectors
        </p>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="flex-grow-1 mx-auto">
          <!-- Form -->
          <forgot-form
            *ngIf="_global.url.split('/')[2] == 'forgot'"
          ></forgot-form>
          <reset-password-form
            *ngIf="_global.url.split('/')[2] == 'recover'"
          ></reset-password-form>
          <login-form *ngIf="_global.url.split('/')[2] == 'login'"></login-form>
          <register-form
            *ngIf="_global.url.split('/')[2] == 'register'"
          ></register-form>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
