
    <div class="d-sm-flex" style="margin-top: -50px; margin-bottom: -50px">
      <div class="container d-sm-flex align-items-sm-center vh-sm-100 content-space-t-1 content-space-b-1 content-space-b-sm-3 content-space-sm-0">
        <div class="row justify-content-sm-between align-items-sm-center flex-grow-1">
          <div class="col-9 col-sm-6 mb-5 mb-sm-0">
            <img class="img-fluid" src="https://htmlstream.com/front-v4.0/assets/img/illustrations/yelling.png" alt="SVG Illustration">
          </div>
          <!-- End Col -->

          <div class="col-sm-5">
            <!-- Heading -->
            <div class="mb-4">
              <h1>We're coming soon.</h1>
              <p>Our website is under construction. We'll be here soon with our new awesome site, subscribe to be notified.</p>
            </div>
            <!-- End Heading -->

            <form>
              <!-- Input Card -->
              <div class="input-card input-card-sm border">
                <div class="input-card-form">
                  <label for="subscribeForm" class="form-label visually-hidden">Enter email</label>
                  <input type="text" class="form-control form-control-lg" id="subscribeForm" placeholder="Enter email" aria-label="Enter email">
                </div>
                <button type="button" class="btn btn-danger btn-lg">Subscribe</button>
              </div>
              <!-- End Input Card -->
            </form>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
