<div class="navbar-expand-lg mb-5">
    <!-- Navbar Toggle -->
    <div class="d-grid">
        <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse"
            data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false"
            aria-controls="navbarVerticalNavMenu">
            <span class="d-flex justify-content-between align-items-center">
                <span class="text-dark">Filter</span>

                <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                </span>

                <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                </span>
            </span>
        </button>
    </div>
    

    <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
        <div class="w-100">
            <!-- Form -->
            <form>
                
                <div class="pb-4 mb-2">
                    <h5>Country</h5>

                    <div class="d-grid gap-2" *ngIf="filterData?.countries.length > 0 && !_listingservices.loader.listings">
                        <!-- Checkboxes -->
                        <div class="form-check" *ngFor="let country of filterData?.countries">
                            <input class="form-check-input" type="checkbox" id="{{country.name}}" [(ngModel)]="_listingservices.filterSearch.countries" [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" for="{{country.name}}">{{country.name}} ({{country?.count}})</label>
                        </div>
                        <!-- End Checkboxes -->
                    </div>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                </div>

                <div class="pb-4 mb-2">
                    <h5>Cities</h5>

                    <div class="d-grid gap-2" *ngIf="filterData?.cities.length > 0 && !_listingservices.loader.listings">
                        <!-- Checkboxes -->
                        <div class="form-check" *ngFor="let city of filterData?.cities">
                            <input class="form-check-input" type="checkbox" id="{{city.name}}" (change)="useFilter()"  [(ngModel)]="_listingservices.filterSearch.cities[city.name]" [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" for="{{city.name}}">{{city.name}} ({{city?.count}})</label>
                        </div>
                        <!-- End Checkboxes -->
                    </div>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                </div>

                <div class="pb-4 mb-2">
                    <h5>Regions</h5>

                    <div class="d-grid gap-2" *ngIf="!_listingservices.loader.listings">
                        <!-- Checkboxes -->
                        <div class="form-check" *ngFor="let region of filterData?.regions">
                            <input class="form-check-input" type="checkbox" id="{{region.name}}" (change)="useFilter()" [(ngModel)]="_listingservices.filterSearch.regions[region.name]" [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" for="{{region.name}}">{{region.name}}  ({{region?.count}})</label>
                        </div>
                        <!-- End Checkboxes -->
                    </div>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                </div>

                <div class="pb-4 mb-2">
                    <h5>Price Range</h5>

                    <div class="d-grid gap-2" style="margin-left: -20px; width: 90%">
                        <div class="form-check">
                            <input *ngIf="filterData?.price == 0" class="form-range" type="range" id="maxRange" (change)="useFilter()" min="{{filterData?.price?.minimum}}" max="{{filterData?.price?.maximum}}" [(ngModel)]="_listingservices.filterSearch.price" [ngModelOptions]="{standalone: true}">
                            <label *ngIf="filterData?.price == 0" class="form-check-label bold" for="customRange">Min: {{filterData?.price?.minimum}} - Max: {{filterData?.price?.maximum | currency: "NGN"}} </label>
                            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
        <div id="shopNavCategories" class="nav nav-pills nav-vertical">
            <h5>Categories Listing</h5>

            <div *ngIf="!_listingservices.loader.listings">
                <div *ngFor="let category of categories">
                    <!-- Collapse -->
                    <a *ngIf="category?.subcategory?.length > 0" class="nav-link collapsed" [ngClass]="(category?.subcategory?.length > 0) ? 'dropdown-toggle' : ''" [attr.data-bs-target]="generateID('#' + category?.name)" role="button" data-bs-toggle="collapse"
                        aria-expanded="false" [attr.aria-controls]="generateID(category?.name)">
                         {{category?.name.replace('&', 'and') | titlecase}}
                    </a>
                    <a *ngIf="category?.subcategory?.length == 0" class="nav-link collapsed" routerLink="/{{category?.name.replace('&', 'and').split(' ').join('-') | lowercase}}">
                         {{category?.name.replace('&', 'and') | titlecase}}
                    </a>
        
                    <div *ngIf="category?.subcategory?.length > 0" [id]="generateID(category?.name)" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
                        <div id="shopNavCategoriesOne">
                            <a class="nav-link" routerLink="/{{category?.name.replace('&', 'and').split(' ').join('-') | lowercase}}">All {{category?.name.replace('&', 'and') | titlecase}}</a>
                            <a *ngFor="let subcategory of category?.subcategory" class="nav-link" routerLink="/{{subcategory?.name.replace('&', 'and').split(' ').join('-') | lowercase}}">{{subcategory?.name.replace('&', 'and') | titlecase}}</a>
                        </div>
                    </div>
                    <!-- End Collapse -->
                </div>
            </div>
            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
        </div>
    </div>

    <div id="navbarVerticalNavMenu" class="collapse navbar-collapse mt-5">
        <div class="w-100">
            <!-- Form -->
            <form>

                <div class="pb-4 mb-4" *ngIf="filterData?.gender?.length > 0">
                    <h5>Gender</h5>

                    <div class="d-grid gap-2" *ngIf="!_listingservices.loader.listings">
                        <!-- Checkboxes -->
                        <div class="form-check" *ngFor="let gender of filterData?.gender">
                            <input class="form-check-input" type="checkbox" id="{{gender.name}}" (change)="useFilter()" [(ngModel)]="_listingservices.filterSearch.gender[gender.name]" [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" for="{{gender.name}}">{{gender.name | titlecase}} ({{gender?.count}})</label>
                        </div>
                        <!-- End Checkboxes -->
                    </div>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                </div>

                <div class="pb-4 mb-4" *ngIf="filterData?.brands?.length > 0">
                    <h5>Brand</h5>

                    <div class="d-grid gap-2" *ngIf="!_listingservices.loader.listings">
                        <!-- Checkboxes -->
                        <div class="form-check" *ngFor="let brand of filterData?.brands">
                            <input class="form-check-input" type="checkbox" id="{{brand.name}}" (change)="useFilter()" [(ngModel)]="_listingservices.filterSearch.brands[brand.name]" [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" for="{{brand.name}}">{{brand.name}} ({{brand?.count}})</label>
                        </div>
                        <!-- End Checkboxes -->

                    </div>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                </div>

                <div class="pb-4 mb-4" *ngIf="filterData?.tags?.length > 0">
                    <h5>Tags</h5>

                    <div class="d-grid gap-2" *ngIf="!_listingservices.loader.listings">
                        <!-- Checkboxes -->
                        <div class="form-check" *ngFor="let tag of filterData?.tags">
                            <input class="form-check-input" type="checkbox" id="{{tag?.name}}" (change)="useFilter()" [(ngModel)]="_listingservices.filterSearch.tags[tag.name]" [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" for="{{tag?.name}}">{{tag?.name}} ({{tag?.count}})</label>
                        </div>
                        <!-- End Checkboxes -->
                    </div>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                    <ngx-skeleton-loader *ngIf="_listingservices.loader.listings" [theme]="{ height: '10px', width: '100px', 'border-radius': 0 }" count="1" animation="pulse"></ngx-skeleton-loader>
                </div>
            </form>
            <!-- End Form -->
            <button (click)="clearFilter()" class="btn btn-outline-dark btn-sm fs-14 bold pull-right">Clear Filter </button>
            <hr>
        </div>
    </div>
    <!-- End Navbar Collapse -->
</div>