
        <div class="login">
            <div class="login__block active no-shadow">
              <div class="no-padding" align="left" id="l-register">
                <div class="login__block__header bg-white no-shadow mt-5" align="left">
                  <!-- <img style="width: 130px;border-radius: 0px;" class="ml-0" src="../assets/icon/logo.png" /> -->
                  <h1 class="fs-20 bold mb-2">
                    Welcome Back User
                  </h1>
                  <p class="fs-10 bold text-muted">
                    Sign into your account to track your activities.
                  </p>
                  <p *ngIf="error" class="fs-14 mb-4 bold text-danger">
                    {{error}}
                  </p>
                </div>
        
                <div style="margin-top:-20px" align="left" class="login__block__body">
                  <!-- <app-loading *ngIf="globals.loader"></app-loading> -->
                </div>
              </div>
            </div>
          </div>