header nav .container-fluid {
  width: 90vw !important;
  margin: 0px auto !important;
}
form input {
  margin-top: 7px !important;
  width: 20vw !important;
  color: #fdfdfd;
}
.nav-item {
  width: 120px !important;
}
.nav-item.form-search-input {
  width: auto !important;
}

.navbar-collapse {
  background-color: transparent !important;
}

.navbar .dropdown-menu::before {
  transition: 300ms all ease-in-out !important;
}

.mobile-form {
  display: none;
}

@media screen and (max-width: 992px) {
  .mobile-form {
    display: block;
  }

  .large-screen-form {
    display: none;
  }

  .nav-item.form-search-input {
    width: auto !important;
  }

  .navbar-nav {
    padding-top: 4em;
  }

  .navbar-collapse {
    position: absolute;
    top: 0px;
    right: 100%;
    width: 80%;
    transition: all 0.2s ease-in-out;
    display: block;
    padding: 20px 0px;
  }
  .navbar-collapse.collapsing {
    height: 100vh !important;
    margin-right: 50%;
    right: 50%;
    transition: all 0.2s ease-in-out;
  }
  .navbar-collapse.show {
    right: 20%;
    height: 100vh;
    background-color: #c00000 !important;
    box-shadow: 0 0 10px black;
  }

  .nav-item:nth-child(2),
  .nav-item:nth-child(3),
  .nav-item:nth-child(4),
  .nav-item:nth-child(5) {
    padding-bottom: 1em;
  }

  .navbar-toggler.close {
    float: right;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-form {
    display: none;
  }

  .large-screen-form {
    display: block;
  }
}
