<header>
    <nav class="navbar navbar-expand-xl fixed-top navbar-white bg-white navbar-shadow" aria-label="Sixth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img alt="" width="30" height="24" class="d-inline-block align-text-top">
              Bootstrap
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
                aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample06">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="bi-journals me-2"></i> Explore</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown06">
                            <a class="dropdown-item" href="#">All Design</a>
                            <a class="dropdown-item" href="#">Web design</a>
                            <a class="dropdown-item" href="#">Graphic design</a>
                            <a class="dropdown-item" href="#">Design tools</a>
                            <a class="dropdown-item" href="#">User experience</a>
                            <a class="dropdown-item" href="#">Game design</a>
                            <a class="dropdown-item" href="#">Design thinking</a>
                            <a class="dropdown-item" href="#">3D &amp; animation</a>
                            <a class="dropdown-item" href="#">Fashion</a>
                            <a class="dropdown-item" href="#">Architectural design</a>
                            <a class="dropdown-item" href="#">Interior design</a>
                            <a class="dropdown-item" href="#">Other</a>
                        </ul>
                    </li>
                </ul>


                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                            aria-expanded="false">English</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown06">
                            <li><a class="dropdown-item" href="#">French</a></li>
                            <li><a class="dropdown-item" href="#">Japanese</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="bi-journals me-2"></i> Account</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown06">
                            <li><a class="dropdown-item" href="#">Sign In</a></li>
                            <li><a class="dropdown-item" href="#">Sign Up action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="bi-journals me-2"></i> Cart</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown06">
                            <li><a class="dropdown-item" href="#">Checkout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>