header nav .container-fluid {
  width: 90vw !important;
  margin: 0px auto !important;
}
form input {
  margin-top: 7px !important;
  width: 20vw !important;
  color: #fdfdfd;
}
.nav-item {
  width: 120px !important;
}
.nav-item.form-search-input {
  width: auto !important;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 992px) {
  .mobile-nav {
    display: block;
  }

  .desktop-nav {
    display: none;
  }

  .navbar-nav.mobile-nav {
    padding: 1em 0em;
  }

  .navbar-collapse {
    position: absolute;
    top: 0px;
    right: 100%;
    width: 80%;
    transition: all 0.2s ease-in-out;
    display: block;
    padding: 20px 0px;
  }

  .navbar-collapse.collapsing {
    height: 100vh !important;
    margin-right: 50%;
    right: 50%;
    transition: all 0.2s ease-in-out;
  }

  .navbar-collapse.show {
    right: 20%;
    height: 100vh;
    background-color: white !important;
    box-shadow: 0 0 10px black;
    overflow-y: scroll;
  }

  .nav-item {
    padding-bottom: 1em;
  }

  .navbar-toggler.close {
    float: right;
    margin-right: 20px;
  }

  .lg-categories {
    display: none;
  }

  .sm-categories {
    display: block;
  }

  .nav-item {
    width: auto !important;
  }

  .close-sidebar {
    display: flex;
    justify-content: end;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-form {
    display: none;
  }

  .large-screen-form {
    display: block;
  }
}
