header nav .container-fluid {
  width: 90vw !important;
  margin: 0px auto !important;
}
form input {
  margin-top: 7px !important;
  width: 20vw !important;
  color: #fdfdfd;
}
.nav-item {
  width: 120px !important;
}
.nav-item.form-search-input {
  width: auto !important;
}
.navbar-collapse {
  background-color: transparent !important;
}

.mobile-form {
  display: none;
}

@media screen and (min-width: 280px) {
  .mobile-form {
    display: block;
  }

  .large-screen-form {
    display: none;
  }

  .nav-item:nth-child(2),
  .nav-item:nth-child(3),
  .nav-item:nth-child(4),
  .nav-item:nth-child(5) {
    padding-bottom: 0.5em;
  }

  .nav-item.form-search-input {
    width: auto !important;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-form {
    display: none;
  }

  .large-screen-form {
    display: block;
  }
}
