<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light text-white bg-danger" aria-label="Sixth navbar example">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
              <img src="assets/img/red-logo.jpeg" alt="" width="120" height="45" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
                aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon text-white"></span>
            </button>

            <div class="collapse navbar-collapse in" id="navbarsExample06">
                <ul class="navbar-nav justify-content-end ms-auto me-auto mb-2 mb-xl-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-14 bold text-white" href="#" id="dropdown06" data-bs-toggle="dropdown"
                            aria-expanded="false"> Categories</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown06">
                          <a *ngFor="let category of _listingservices?.categories" class="dropdown-item" routerLink="/{{category?.name.replace('&', 'and').split(' ').join('-') | lowercase}}">{{category?.name | titlecase}}</a>
                        </ul>
                    </li>
                    <li class="nav-item form-search-input">
                      <div class="col-lg-6 mobile-form">
                        <form [formGroup]="searchForm" (ngSubmit)="submitSearch()" class="form-inline">
                          <div class="input-group d-flex justify-content-center align-items-center">
                            <input type="search" placeholder="Search for a product" class="form-control form-control-sm bg-soft-light mt-1" formControlName="search">
                            <span class="input-group-btn">
                              <button class="btn btn-default fs-14 text-danger bg-white bold" type="button">Go!</button>
                            </span>
                          </div>
                        </form>    
                      </div>
                      <form [formGroup]="searchForm" (ngSubmit)="submitSearch()" class="form-inline large-screen-form">
                        <input type="search" placeholder="Search for a product" class="form-control form-control-sm bg-soft-light mt-1" formControlName="search">
                      </form>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/>
                        <span class="fs-14  text-white">English (US)</span>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                          <a class="dropdown-item d-flex align-items-center active" href="#">
                            <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/>
                            <span>English (US)</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16"/>
                            <span>Deutsch</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16"/>
                            <span>Español</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" href="#">
                            <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/cn.svg" alt="Image description" width="16"/>
                            <span>中文 (繁體)</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown" *ngIf="_userService?.user">
                      <a class="nav-link dropdown-toggle" href="#" id="footerAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="fs-14 text-white">Accounts</span>
                      </a>

                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="footerAccount">
                        <li>
                          <a class="dropdown-item d-flex align-items-center" routerLink="/accounts/overview">
                            <span>Overview</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" routerLink="/accounts/profile">
                            <span>Profile</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" routerLink="/accounts/listings">
                            <span>Listings</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" routerLink="/accounts/messages">
                            <span>Messages</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" routerLink="/accounts/orders">
                            <span>Orders</span>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item d-flex align-items-center" routerLink="/accounts/settings">
                            <span>Settings</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item" *ngIf="!_userService?.user">
                        <a class="fs-14 btnbtn-outline-danger text-white btn-xs bold" routerLink="/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="fs-14 btn bg-white text-danger btn-xs bold" routerLink="/accounts/listings/add">Post an Ad</a>
                    </li>
                </ul>


                <!-- <ul class="navbar-nav justify-content-end me-auto mb-2 mb-xl-0">
                </ul> -->
            </div>
        </div>
    </nav>
    
</header>

<br />