<!-- <ng-template #elseBlock> -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-header-title">Today</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="d-flex justify-content-start">
          <div class="pr-3">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="row">
            <p class="bold lead fs-14">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus porro veniam neque adipisci voluptatibus eius eaque commodi omnis distinctio architecto esse dolore modi accusantium molestiae, magni quisquam sit quasi illo.
            </p>
            <p class="lead fs-14">1:20 pm</p>
          </div>
        </div>          
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="card">
    <div class="card-header">
      <h5 class="card-header-title">Earlier</h5>
    </div>
    <div class="card-header">
      <div class="row">
        <div class="d-flex justify-content-start">
          <div class="pr-3">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="row">
            <p class="lead fs-14">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus porro veniam neque adipisci voluptatibus eius eaque commodi omnis distinctio architecto esse dolore modi accusantium molestiae, magni quisquam sit quasi illo.
            </p>
            <p class="lead fs-14">1:20 pm</p>
          </div>
        </div>          
      </div>
    </div>
    <div class="card-header">
      <div class="row">
        <div class="d-flex justify-content-start">
          <div class="pr-3">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="row">
            <p class="lead fs-14">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus porro veniam neque adipisci voluptatibus eius eaque commodi omnis distinctio architecto esse dolore modi accusantium molestiae, magni quisquam sit quasi illo.
            </p>
            <p class="lead fs-14">1:20 pm</p>
          </div>
        </div>          
      </div>
    </div>
    <div class="card-header">
      <div class="row">
        <div class="d-flex justify-content-start">
          <div class="pr-3">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="row">
            <p class="lead fs-14">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus porro veniam neque adipisci voluptatibus eius eaque commodi omnis distinctio architecto esse dolore modi accusantium molestiae, magni quisquam sit quasi illo.
            </p>
            <p class="lead fs-14">1:20 pm</p>
          </div>
        </div>          
      </div>
    </div>
  </div>

<!-- </ng-template> -->


<!-- <no-content *ngIf="usersService.activities?.length == 0; else elseBlock">
  <h2>No Activities</h2>
  <p>Your Account has not made any activities to show right now.</p>
</no-content> -->