<div class="large-screen">
    <h2 class="product-title">{{adsInfo?.name}}</h2>

    <br />
    <div class="preview mb-5">

        <div class="preview-pic tab-content">
            <div *ngFor="let img of adsInfo?.images;let i = index" class="tab-pane" [ngClass]="(i == 0) ? 'active' : ''" role="tabpanel" [id]="'pic' + i"><img [src]="img" /></div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs" role="tablist">
            <li [ngClass]="(i == 0) ? 'nav-item active' : ''" *ngFor="let img of adsInfo?.images;let i = index">
                <a [attr.data-bs-target]="'#pic' + i" data-bs-toggle="tab" role="tab">
                    <img [src]="img" />
                </a>
            </li>
        </ul>

    </div>

    <hr />

    <div class="row">
        <div class="col-md-12 mb-5 mb-md-0">
            <!-- <dl class="row">
                <dt class="col-sm-2">Share</dt>
                <dd class="col-sm-8">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                                <i class="bi-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                                <i class="bi-google"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                                <i class="bi-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                                <i class="bi-github"></i>
                            </a>
                        </li>
                    </ul>
                </dd>
            </dl> -->

            <dl class="row">
                <dt class="col-sm-2">Brand Name</dt>
                <dd class="col-sm-4">{{adsInfo?.brands}}</dd>
                <dt class="col-sm-2">Tags</dt>
                <dd class="col-sm-4">
                    <a *ngFor="let tag of adsInfo?.tags" class="btn btn-outline-secondary btn-sm fs-14 bold mb-1 mr-1">{{tag}}</a>
                    <!-- <span *ngFor="let tag of adsInfo?.tags">{{tag}}</span> -->
                </dd>
            </dl>
            <!-- End Row -->

            <hr class="my-5">
            <!-- End Row -->

            <div class="pe-lg-4">
                <h3>Summary</h3>
                <p>{{adsInfo?.description}}.</p>
            </div>
        </div>
        <!-- End Col -->

        <hr />

        <div class="col-md-12 mb-5 mb-md-0">
            <h3>Extra Details</h3>

            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-py-2 mb-0">
                        <li>Price: {{adsInfo?.price | currency: 'NGN '}}</li>
                        <li>Uploaded On: {{adsInfo?.date_added | date}}</li>
                        <!-- <li>Soft twill</li>  -->
                    </ul>
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                    <ul class="list-py-2 mb-0">
                        <li>Subcategory: {{adsInfo?.category?.parent}}</li>
                        <li>Updated On: {{adsInfo?.date_updated | date}}</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Col -->
    </div>
</div>

<div class="mobile-screen">
    <!-- <div class="d-flex justify-content-between">
        <a href="javascript:void(0);" class="text-dark"><i class="bi bi-chevron-left"></i> Back</a>
        <div class="d-flex">
            <p class="text-dark pr-2">Share:</p>
            <div class="col-sm-8">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                            <i class="bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                            <i class="bi-google"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                            <i class="bi-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                            <i class="bi-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

    <br>

    <div class="preview mb-5">
        
        <div class="preview-pic tab-content">
            <div *ngFor="let img of adsInfo?.images;let i = index" class="tab-pane" [ngClass]="(i == 0) ? 'active' : ''" role="tabpanel" [id]="'pic' + i"><img [src]="img" /></div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs" role="tablist">
            <li [ngClass]="(i == 0) ? 'nav-item active' : ''" *ngFor="let img of adsInfo?.images;let i = index">
                <a [attr.data-bs-target]="'#pic' + i" data-bs-toggle="tab" role="tab">
                    <img [src]="img" />
                </a>
            </li>
        </ul>

    </div>

    <!-- <hr /> -->

    <div class="row">
        <div class="col-md-12 mb-5 mb-md-0">
            <div class="row">
                <div class="col-sm-2">
                    <h5 class="h5 bold text-muted">{{adsInfo?.brands}}</h5>
                </div>
                <div class="col-sm-8">
                    <h1 class="title h1 mb-2">{{adsInfo?.name}}</h1>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-2" align="right">
                    <a href="#reviewForm"><p class="fs-14 bold text-muted"><u>Write a review</u></p></a>
                </div> -->
                <div class="col-sm-8">
                    <h1 class="title h4 mb-2">{{adsInfo?.price | currency: 'NGN '}}</h1>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-sm-6">
                    <ul class="list-py-2 mb-0">
                        <li>Price: {{adsInfo?.price | currency: 'NGN '}}</li>
                        <li>Uploaded On: {{adsInfo?.date_added | date}}</li>
                    </ul>
                </div>
                <dt class="col-sm-2">Brand Name</dt>
                <dd class="col-sm-4">{{adsInfo?.brands}}</dd>
                <dt class="col-sm-2">Tags</dt>
                <dd class="col-sm-4"><span *ngFor="let tag of adsInfo?.tags">{{tag}}</span></dd>
            </div> -->
            <!-- End Row -->

            <hr class="my-5">
            <!-- End Row -->

            <div class="pe-lg-4">
                <h3 class="h4">Summary</h3>
                <p>{{adsInfo?.description}}.</p>
            </div>
        </div>
        <!-- End Col -->

        <hr />

        <div class="col-md-12 mb-5 mb-md-0">
            <h3>Extra Details</h3>

            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-py-2 mb-0">
                        <li>Price: {{adsInfo?.price | currency: 'NGN '}}</li>
                        <li>Uploaded On: {{adsInfo?.date_added | date}}</li>
                        <!-- <li>Soft twill</li>  -->
                    </ul>
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                    <ul class="list-py-2 mb-0">
                        <li>Subcategory: {{adsInfo?.category?.parent}}</li>
                        <li>Updated On: {{adsInfo?.date_updated | date}}</li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Col -->
    </div>
</div>
