<!-- <ads-listing></ads-listing> -->

<accounts-listings *ngIf="_global.url.split('/')[2] == 'listings'"></accounts-listings>
<accounts-overview *ngIf="_global.url.split('/')[2] == 'overview'"></accounts-overview>
<accounts-payments *ngIf="_global.url.split('/')[2] == 'payments'"></accounts-payments>
<accounts-security *ngIf="_global.url.split('/')[2] == 'security'"></accounts-security>
<profile-form *ngIf="_global.url.split('/')[2] == 'profile'"></profile-form>
<accounts-orders *ngIf="_global.url.split('/')[2] == 'orders'"></accounts-orders>