
        <div class="row align-items-center mb-5 mt-5">
            <div class="col-sm mb-3 mb-sm-0">
                <h6 class="mb-0 fs-18 text-danger bold">Reviews & Comments</h6>
                <hr />
            </div>
        </div>


        <ul class="list-comment list-comment-divider mb-5">
            <!-- Item -->
            <li *ngFor="let review of reviews" class="list-comment-item">
  
              <!-- Media -->
              <div class="d-flex align-items-center mb-3">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-circle" src="../assets/img/160x160/img9.jpg" alt="Image Description">
                </div>
  
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Christina Kray</h5>
                    <span class="d-block small text-muted">April 3, 2019</span>
                  </div>
                </div>
              </div>
              <!-- End Media -->
  
              <div class="mb-5">
                <p>I bought this hat for my boyfriend, but then i found out he cheated on me so I kept it and I love it!! I wear it all the time and there is no problem with the fit even though its a “mens” hat.</p>
              </div>
  
              <div class="mb-2">
                <span class="text-dark fw-semi-bold">Christina</span>
                <span>- Verified Purchase</span>
              </div>
  
              <!-- Media -->
              <div class="d-flex align-items-center">
                <span class="small me-2">Was this helpful?</span>
  
                <div class="d-flex gap-2">
                  <a class="btn btn-white btn-xs" href="javascript:;">
                    <i class="bi-hand-thumbs-up me-1"></i> Yes <span>(45)</span>
                  </a>
                  <a class="btn btn-white btn-xs" href="javascript:;">
                    <i class="bi-hand-thumbs-down me-1"></i> No <span>(21)</span>
                  </a>
                </div>
              </div>
              <!-- End Media -->
            </li>
            <!-- End Item -->
          </ul>