
        <div class="row align-items-center mb-5 mt-5">
            <div class="col-sm mb-3 mb-sm-0">
                <h6 class="mb-0 fs-18 text-danger bold">Reviews & Comments</h6>
                <hr />
            </div>
        </div>


        <ul class="list-comment list-comment-divider mb-5">
            <!-- Item -->
            <li class="list-comment-item" *ngFor="let review of reviews?.reviews?.comments">
  
              <!-- Media -->
              <div class="d-flex align-items-center mb-3" >
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-circle" [src]="review?.user?.image || 'https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_1280.png'" alt="Image Description">
                </div>
  
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{{review?.user?.username}}</h5>
                    <span class="d-block small text-muted">{{review?.posted_on | date: 'longDate'}}</span>
                  </div>
                </div>
              </div>
              <!-- End Media -->
  
              <div class="mb-1">
                <p>{{review?.comments}}</p>
              </div>
  
              <!-- <div class="mb-0">
                <span class="text-dark fw-semi-bold">{{review?.user?.username}}</span>
                <span>- Verified Purchase</span>
              </div>
   -->
            </li>
            <!-- Media -->
            <div class="d-flex align-items-center pt-3 pb-3">
              <span class="small me-2">Was this helpful?</span>

              <div class="d-flex gap-2">
                <a class="btn btn-white btn-xs" href="javascript:void(0);" (click)="addAComment(reviewForm.value, 'like')" >
                  <i class="bi-hand-thumbs-up me-1"></i> Yes
                </a>
                <a class="btn btn-white btn-xs" href="javascript:void(0);" (click)="addAComment(reviewForm.value, 'dislike')">
                  <i class="bi-hand-thumbs-down me-1"></i> No 
                  <!-- <span>(21)</span> -->
                </a>
              </div>
            </div>
            <div class="d-flex align-items-center pt-3 pb-3" *ngIf="!usersService.user">
              <span class="small me-2">Want to review this item? Login then!!</span>

              <div class="d-flex gap-2">
                <a class="btn btn-primary btn-xs text-white bold" href="javascript:void(0);" (click)="addAComment(reviewForm.value, 'like')" >
                  Sign In
                </a>
              </div>
            </div>
            <!-- End Media -->
            <!-- End Item -->
            <!-- Review-Form -->
            <form [formGroup]="reviewForm" (ngSubmit)="addAComment(reviewForm.value, 'comments')" *ngIf="usersService.user" id="reviewForm">
              <div class="d-flex justify-content-between align-items-center">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-sm avatar-circle" [src]="usersService.user?.image" alt="Image Description">
                </div>
  
                <div class="flex-grow-1 ms-3">
                  <input type="text" class="form-control" name="comment" id="comment" formControlName="comments" placeholder="Write your comments....">
                </div>
                
                <div class="p-2">
                  <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </div>
              </div>
            </form>
            <!-- End Review-Form -->
          </ul>