<br />
<br />
<br />
<br />
<br />
          <div class="flex-grow-1 mx-auto">

            <!-- Form -->
            <form class="js-validate needs-validation" novalidate>
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="signupModalFormLoginEmail">Your email</label>
                <input type="email" class="form-control form-control-lg" name="email" id="signupModalFormLoginEmail" placeholder="email@site.com" aria-label="email@site.com" required>
                <span class="invalid-feedback">Please enter a valid email address.</span>
              </div>
              <!-- End Form -->

              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-secondary btn-sm">Recover Your Account</button>
              </div>
            </form>
            <!-- End Form -->
          </div>