<div class="mb-3">
  <a
    href="javascript:void(0);"
    routerLink="/accounts/messages"
    class="btn btn-info btn-xs text-white bold"
  >
    <i class="bi bi-arrow-left bold"></i>
  </a>
</div>
<div class="card">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <no-content *ngIf="messages?.length == 0; else show">
          <h2>No Messages</h2>
          <p>
            You haven't started any conversation with
            {{ receipient?.username | titlecase }}.
          </p>
        </no-content>

        <ng-template #show>
          <ul class="list-unstyled" #scrollMe>
            <li
              class="d-flex mb-4"
              *ngFor="let chat of messages"
              [ngClass]="chat?.uid == loggedInUser?.uid ? 'owner' : ''"
            >
              <ng-template #showReceipient>
                <img
                  [src]="receipient?.image"
                  alt="avatar"
                  class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
                  style="object-fit: cover; width: 60px; height: 60px"
                />
                <div class="card">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">{{ receipient?.username }}</p>
                    <p class="text-muted small mb-0" style="padding-left: 5em">
                      <i class="far fa-clock"></i> {{ chat?.date | dateAsAgo }}
                    </p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      {{ chat?.messages }}
                    </p>
                  </div>
                </div>
              </ng-template>

              <div
                class="d-flex justify-content-between"
                *ngIf="chat?.uid == loggedInUser?.uid; else showReceipient"
              >
                <div class="card w-100">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">{{ loggedInUser?.username }}</p>
                    <p class="text-muted small mb-0" style="padding-left: 5em">
                      <i class="bi bi-clock"></i> {{ chat?.date | dateAsAgo }}
                    </p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">
                      {{ chat?.messages }}
                    </p>
                  </div>
                </div>
                <img
                  [src]="loggedInUser?.image"
                  alt="avatar"
                  class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong"
                  style="object-fit: cover; width: 60px; height: 60px"
                />
              </div>
            </li>
            <!-- <ng-template #showOwner>
              <li class="d-flex justify-content-between mb-4">
              </li>
            </ng-template> -->
          </ul>
        </ng-template>
        <form
          [formGroup]="messageForm"
          (ngSubmit)="OnSubmit(messageForm.value)"
        >
          <div class="bg-white mb-3">
            <div class="form-outline">
              <textarea
                class="form-control"
                id="textAreaExample2"
                rows="4"
                placeholder="Type your message here ..."
                formControlName="messages"
                required
              ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-info btn-rounded float-end">
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
