<div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-header-title">My Listings</h5>
    </div>

    <!-- Body -->
    <div class="card-body">
      <table class="table" *ngIf="_listingservices?.listings.length > 0">
        <thead>
          <tr>
            <th>Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Brands</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ad of _listingservices?.listings | paginate: { itemsPerPage: limit, currentPage: p }; let i = index">
            <!-- <td>{{i + 1}}</td> -->
            <td>
              <img [src]="ad?.images[0]" style="height: 50px;width: 50px" alt="...">
            </td>
            <td>{{ad?.name}}</td>
            <td>{{ad?.price}}</td>
            <td>{{ad?.category?.name}}</td>
            <td>{{ad?.brands | titlecase}}</td>
            <td>
              <button class="btn btn-xs btn-success">Edit</button>
              <button class="btn btn-xs btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <pagination-controls *ngIf="_listingservices?.listings.length > 10" (pageChange)="p = $event"></pagination-controls>
    
    
    
    
    <no-content *ngIf="_listingservices?.listings?.length == 0">
        <h2>No ads listings found</h2>
        <p>The content you requested is not available.</p>
    </no-content>
    </div>
    <!-- End Body -->
  </div>