<div class="card">
    <div class="card-header border-bottom">
      <h5 class="card-header-title">My Listings</h5>
    </div>

    <!-- Body -->
    <div class="card-body">
      <!-- Form -->
      <form>
        <!-- List Group -->
        <div class="list-group list-group-flush list-group-no-gutters">
          <!-- Item -->
          <div class="list-group-item">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="http://faicorn.com/images/electronic6-removebg-preview.png" style="height: 70px;float: left; margin-left: 10px; margin-right: 20px" class="mr-3 pull-left" alt="...">
              </div>

              <div class="flex-grow-1">
                <div class="row align-items-center">
                  <div class="col-sm mb-1 mb-sm-0">
                    <h6 class="mb-1 fs-16">Dell XPS 15 <span class="badge bg-primary ms-1">Current</span></h6>
                    <ul class="list-inline list-separator text-body small">
                      <li class="list-inline-item"><span class="fw-semi-bold">Amount:</span> #300,000</li>
                      <li class="list-inline-item"><span class="fw-semi-bold">Last active:</span> Now</li>
                    </ul>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
            </div>
          </div>
          <!-- End Item -->
        </div>
        <!-- End List Group -->
      </form>
      <!-- End Form -->
    </div>
    <!-- End Body -->
  </div>