.sidebar {
    /* box-shadow: 5px 0 10px rgba(0,0,0,.08) !important; */
    /* opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 999; */
}
.sidebar {
    margin-top: -10px;
}
/* .header__logo img.inverse {
    filter: invert(1) !important;
} */
/* .header {
    z-index: 999;
} */